<div class="media">
<div class="pull-left">
<%= image_tag "myself-300.jpg", { "data-src" => "holder.js/300x200", :class => "img-polaroid" }%>
</div>
<div class="media-body allerta-font font20 span6">
      <p>Surya worked as a Quality Assurance Engineer at Amazon for two years.</p>
      <p>Claims to be an electrical engineer. But cannot differentiate between an alternator and a synchronous motor.</p>
<p>Having designed some rudimentary websites back in college, he has decided to try his luck as a web developer now. </p>
<p>He likes to pretend that he knows a lot about movies, history, evolutionary biology and economics in that order. You can see him rambling at 
<%= link_to "Quora", "http://www.quora.com/Surya-Sankar" %>
</p>
</div>
</div>


