<div class="row aboutbox">
<div class="span2 pull-left">
<%= image_tag "myself-300.jpg", { :class => "img-polaroid" }%>
</div>
<div class="allerta-font font15 span8">
      <p>Surya worked as a QA engineer for three years. Having played around with stuff others built, he wants to build his own stuff now. He wants to build things that solve problems. </p>

</div>
</div>
<div class="row aboutbox">
<div class="span2 pull-left">
<%= image_tag "sridhar-scaled.jpg", { :class => "img-polaroid" }%>
</div>
<div class="allerta-font font15 span8">
      <p>Business runs in Sridhar's blood.  He too is passionate about building technology that makes our lives easier.  </p>
</div>
</div>

<div class="row aboutbox">
<div class="span2 pull-left">
<%= image_tag "rishi-scaled.jpg", { :class => "img-polaroid" }%>
</div>
<div class="allerta-font font15 span8">
      <p>Rishi Hari will be marketing our products to the world</p>
</div>
</div>



