
<div class="row">
	<div id="masthead1" class="span4 offset4">
		<h1>&nbsp;&nbsp;&nbsp;Rishi Hari</h1>
</div>
</div>
<div class="row">
	<div id="masthead2" class="span3">
			<h1>Irukaara?</h1>
	</div>
	<div id="masthead3" class="span3 offset6">
			<h1>Illaiya?</h1>
	</div>
</div>
