
<div class="row">
	<div class="span4 offset4 ">
		<div id="masthead1">
		<h1>Wheel N' Axle</h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
		</div>
	</div>
</div>
<div class="row">
	<div class="span3">
		<div id="masthead2">
		<h1>Wheel N' Axle</h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
		</div>
	</div>
	<div class="span3 offset6">
		<div id="masthead3">
		<h1>Wheel N' Axle</h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
		</div>
	</div>
</div>
