<div class="row">
<div id="banner"></div>
</div>
<div class="row">
	<div class="span10 offset1 allerta-headline">Some problems just need to be solved.</div>
</div>
<div class="row">
	<div class="span8 offset2 crimson-text" id="mission"><p>If it needs to be solved, and if it can be solved, we'll try to solve it.</p> <p>Right now, we are working on an elegant solution to a very pressing problem.</p> <p>We can't wait to show it to you. Give us just a few more days.</p><p>Meanwhile, why don't you check out our blog? You might find it interesting. </p> </div>
</div>
