<div class="row">
<div id="banner"></div>
</div>

<div class="row">
	<div class="span10 offset1 allerta-headline letterpress">Some problems deserve to be solved.</div>
</div>
<div class="row">
	<div class="span3 offset9 allerta-headline2 letterpress">So we try...</div>
</div>
<div id="mission">
	<div class="row">
		<div class="span7 offset3 allerta-headline3">
		We are cooking something spicy. Give us just a few more days.
		</div>
	</div>
	<div id="progress" class="row">
		<div class="span4 offset4">
		
			<div class="progress progress-success progress-striped active">
				  <div class="bar" style="width: 50%"></div>
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="span7 offset3  allerta-headline3">
		Meanwhile a few starters to trigger your appetite. Follow us via
		</div>
	</div>
</div>
<div id="followBox">
	<div class="row">
		<div class="span2 offset4 allerta-headline3">
			<a href="./posts"><i class="icon-comment icon-4x"></i></a><p>
			<%= link_to "Our Blog", posts_path %></p>
		</div>
		<div class="span5 allerta-headline3 ">
			<a href="https://www.facebook.com/pages/Wheelnaxle/150562401806874"><i class="icon-facebook-sign icon-4x"></i></a><p><a href="https://www.facebook.com/pages/Wheelnaxle/150562401806874">Our FB page</a></p><div class="fb-like" data-href="https://www.facebook.com/pages/Wheelnaxle/150562401806874" data-width="450" data-layout="button_count" data-show-faces="false" data-send="true"></div>
		</div>
	</div>
</div>




