@retrored: #AB2D17;
@retrobrown: #AF9246;
#post-title{
	    font-family: 'Allerta', Helvetica, Arial, sans-serif;
	    font-size: 30px;
	    line-height: 50px;
		a:link {color: @retrored;}      /* unvisited link */
		a:visited {color: @retrobrown;}  /* visited link */
		a:hover {color: @retrobrown;}  /* mouse over link */
		a:active {color: @retrobrown;}  /* selected link */
}
.post-description{
	padding-top: 5px;
	height: 500px;
}
